.button {
    background-color: #2196f3;
    border-radius: var(--border-radius);
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 15px 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}