.Sorting {
    display: flex;
}

.list {
    flex-grow: 1;
    display: flex;
}

.button {
    padding: 15px;
    flex-grow: 1;
    background-color: #ffffff;
    border: 1px solid #dfe5ec;

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
}

.button:last-child {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.button:first-child {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.active {
    background-color: #2196F3;
    color: white;
}